@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-slate-900 antialiased overflow-x-hidden;
  }
}

@layer components {
  .bg-glow {
    @apply absolute -z-10 w-[600px] h-[600px] rounded-full blur-[120px] opacity-20;
  }
}